/* Apply styles to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2d7;
    padding: 0;
}

/* Style the header */
h1 {
    background-color: #be8317;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 48px;
}

/* Style the main content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the dropdowns */
.dropdown {
    margin-bottom: 20px;
}

/* Style the buttons */
button {
    background-color: #199444;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #309854;
}

/* Add spacing to the Reset and Logout links */
a {
    margin-right: 10px;
}

/* Center the main content horizontally */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Use min-height instead of height for full viewport height */
}

/* Center the buttons and links horizontally */
button,
a {
    display: inline-block;
}

/* Make Login button 2x bigger and center it */
.login-button {
    font-size: 2em; 
    display: block;
    margin: 0 auto;
}
